<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>urlshorten</title>
</head>
<body>
  <h1>url shortern</h1>
  <form action="/s/" method="post">
    <label>Enter a URL: </label>
    <input type="url" name="url" size="40">
    <input type="submit" value="Shorten">
  </form>
</body>
</html>
