<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>url shortrne</title>
</head>
<body>
  <h1>url shortneren</h1>
  <p><a href="http://127.1:9393/l/<%=@shortcode%>">http://127.1:9393/l/<%=@shortcode%></a></p>
</body>
</html>
